<div class="card mb-4 shadow-sm">
  <div class="card-header bg-primary text-white">
    <h5 class="mb-0"><%= title %></h5>
  </div>

  <div class="card-body">
    <%= line_chart data,
          height: "260px",
          points: true,
          download: true,
          legend: true,
          curve: true %>
  </div>
</div>
